name: Release Workflow
run-name: release-please => ${{  github.event.head_commit.message }}

on:
  workflow_call:
    secrets:
      token:
        required: false

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      token: ${{ secrets.token }}
    steps:
      - name: Check for package.json
        id: check-package
        run: |
          if [ -f ./release-please-config.json ]; then
            echo "type=null" >> $GITHUB_OUTPUT
          elif [ -f ./package.json ]; then
            echo "type=node" >> $GITHUB_OUTPUT
          else
            echo "type=simple" >> $GITHUB_OUTPUT
          fi
      - uses: googleapis/release-please-action@v4
        if: ${{ env.token != '' }}
        with:
          token: ${{ env.token }}
          release-type: ${{ steps.check-package.outputs.type }}
