name: Release Workflow
run-name: release-please => ${{  github.event.head_commit.message }}

on:
  workflow_call:
    inputs:
      node-version:
        required: false
        type: string
        default: '24.x'
    secrets:
      token:
        required: false
      REGISTRY_PASSWORD:
        required: true
      TRIGGER_DOWNSTREAM:
        required: false

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      token: ${{ secrets.token }}
    outputs:
      docker: ${{ steps.docker.outputs.changes }}
      npm: ${{ steps.npm.outputs.changes }}
      released: ${{ steps.release.outputs.releases_created }}
    steps:
      - uses: actions/checkout@v4
      - name: Check for package.json
        id: check-package
        run: |
          if [ -f ./release-please-config.json ]; then
            echo "type=" >> $GITHUB_OUTPUT
          elif [ -f ./package.json ]; then
            echo "type=node" >> $GITHUB_OUTPUT
          else
            echo "type=simple" >> $GITHUB_OUTPUT
          fi
      - uses: googleapis/release-please-action@v4
        id: release
        if: ${{ env.token != '' }}
        with:
          token: ${{ env.token }}
          release-type: ${{ steps.check-package.outputs.type }}
      - name: Find Dockerfiles for released paths
        id: docker
        if: steps.release.outputs.releases_created == 'true'
        run: |
          shopt -s nullglob globstar extglob
          PACKAGES="["
          for path in ${{ join(fromJson(steps.release.outputs.paths_released), ' ') }}; do
            for file in $path/**/*Dockerfile; do
              PACKAGES="$PACKAGES{\"dockerfile\":\"$file\",\"image\":\"$(basename $file | cut -d'.' -f1)\",\"tags\":\"v$(jq -r ".[\"$path\"]" < .release-please-manifest.json)\"},"
            done
          done
          PACKAGES="${PACKAGES%,}]"
          echo "changes=$PACKAGES" >> $GITHUB_OUTPUT
      - name: Find NPM packages for released paths
        id: npm
        if: steps.release.outputs.releases_created == 'true'
        run: |
          shopt -s nullglob globstar extglob
          PACKAGES="["
          for path in ${{ join(fromJson(steps.release.outputs.paths_released), ' ') }}; do
            if [ -f "$path/package.json" ]; then
              VERSION=$(jq -r .version < "$path/package.json")
              NAME=$(jq -r .name < "$path/package.json")
              PUBLISH=$(jq -r '.scripts."ci-publish"' < "$path/package.json")
              if [ -z "$PUBLISH" ] || [ "$PUBLISH" == "false" ] || [ "$PUBLISH" == "null" ]; then
                continue
              fi
              PACKAGES="$PACKAGES{\"package\":\"$NAME\",\"path\":\"$path\"},"
            fi
          done
          PACKAGES="${PACKAGES%,}]"
          echo "changes=$PACKAGES" >> $GITHUB_OUTPUT

  publish-image:
    needs: release
    if: needs.release.outputs.released == 'true' && needs.release.outputs.docker != '[]'
    strategy:
      matrix:
        include: ${{ fromJson(needs.release.outputs.docker) }}
    uses: ./.github/workflows/docker.yaml
    with:
      dockerfile: ${{ matrix.dockerfile }}
      tags: ${{ matrix.tags }}
      image: ${{ matrix.image }}
      license-scan: false
      downstream: https://api.github.com/repos/infitx-org/profile-cd/actions/workflows/docker-image.yaml/dispatches
    secrets:
      REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      TRIGGER_DOWNSTREAM: ${{ secrets.TRIGGER_DOWNSTREAM }}

  setup-node:
    needs: release
    if: needs.release.outputs.released == 'true' && needs.release.outputs.npm != '[]'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - &node
        name: Use Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
      - &cache
        name: cache pnpm store
        id: cache
        uses: actions/cache@v5
        with:
          path: |
            common/temp
            app/**/node_modules
            app/*/dist
            core/**/node_modules
            core/*/dist
            library/**/node_modules
            library/*/dist
          key: ${{ runner.os }}-pnpm-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}
      - name: Rush Install
        run: node common/scripts/install-run-rush.js install
      - name: Rush rebuild
        run: node common/scripts/install-run-rush.js rebuild --verbose

  publish-package:
    needs:
      - release
      - setup-node
    strategy:
      matrix:
        include: ${{ fromJson(needs.release.outputs.npm) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - *node
      - *cache
      - name: Fail if cache not hit
        if: steps.cache.outputs.cache-hit != 'true'
        run: exit 1
      - name: Run publish script ${{ matrix.package }}
        run: |
          cd ${{ matrix.path }}
          npm run ci-publish
        id: publish
      # optionally publish to GitHub Pages if the publish script outputs a pages path
      - name: Publish GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        if: steps.publish.outputs.pages
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ matrix.path }}/${{steps.publish.outputs.pages}}
