name: Rush CI Workflow
on:
  workflow_call:
    inputs:
      node-version:
        required: false
        type: string
        default: '24.x'
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
      - &cache
        name: cache pnpm store
        uses: actions/cache@v5
        with:
          path: |
            common/temp
            **/node_modules
          key: ${{ runner.os }}-rush-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}
      - name: Rush Install
        run: node common/scripts/install-run-rush.js install
      - name: Rush rebuild
        run: node common/scripts/install-run-rush.js rebuild --verbose
  unit-tests:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v6
      - *cache
      - run: node common/scripts/install-run-rush.js ci-unit
        name: Run Unit Tests
      - id: check-report
        run: |
          if [ -f ./coverage/junit.xml ]; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi
      - name: Publish Test Results
        if: ${{ steps.check-report.outputs.exists == 'true' }}
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: |
            **/coverage/junit.xml
  coverage:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v6
      - *cache
      - run: node common/scripts/install-run-rush.js ci-coverage
        name: Generate Code Coverage Report
      - id: check-report
        run: |
          if [ -f ./coverage/report.json ]; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi
      - uses: ArtiomTr/jest-coverage-report-action@v2
        if: ${{ steps.check-report.outputs.exists == 'true' }}
        id: coverage
        with:
          coverage-file: ./coverage/report.json
          base-coverage-file: ./coverage/report.json
          output: report-markdown
      - uses: marocchino/sticky-pull-request-comment@v2
        if: ${{ steps.coverage.outputs.report }}
        with:
          message: ${{ steps.coverage.outputs.report }}

  audit:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v6
      - *cache
      - run: node common/scripts/install-run-rush.js ci-audit
        name: Audit Check for dependencies
      - name: Upload Audit Results
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: audit-results
          path: '**/audit/auditResults.json'

  lint:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v6
      - *cache
      - run: node common/scripts/install-run-rush.js ci-lint
        name: Lint Check

  deprecation:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v6
      - *cache
      - run: node common/scripts/install-run-rush.js ci-deprecation
        name: Check for Deprecated dependencies
