name: Rush CI Workflow
on:
  workflow_call:
    inputs:
      node-version:
        required: false
        type: string
        default: '24.x'
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - &node
        name: Use Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
      - &cache
        name: cache pnpm store
        uses: actions/cache@v5
        with:
          path: |
            common/temp
            app/**/node_modules
            lib/**/node_modules
          key: ${{ runner.os }}-pnpm-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}
      - name: Rush Install
        run: node common/scripts/install-run-rush.js install
      - name: Rush rebuild
        run: node common/scripts/install-run-rush.js rebuild --verbose
  unit-tests:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v6
      - *node
      - *cache
      - run: node common/scripts/install-run-rush.js ci-unit
        name: Run Unit Tests
      - id: check-report
        run: |
          if [ -f ./coverage/junit.xml ]; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi
      - name: Publish Test Results
        if: ${{ steps.check-report.outputs.exists == 'true' }}
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: |
            **/coverage/junit.xml
  coverage:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v6
      - *node
      - *cache
      - run: node common/scripts/install-run-rush.js ci-coverage
        name: Generate Code Coverage Report
      - id: check-report
        run: |
          if [ -f ./coverage/report.json ]; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi
      - uses: ArtiomTr/jest-coverage-report-action@v2
        if: ${{ steps.check-report.outputs.exists == 'true' }}
        id: coverage
        with:
          coverage-file: ./coverage/report.json
          base-coverage-file: ./coverage/report.json
          output: report-markdown
      - uses: marocchino/sticky-pull-request-comment@v2
        if: ${{ steps.coverage.outputs.report }}
        with:
          message: ${{ steps.coverage.outputs.report }}

  audit:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v6
      - *node
      - *cache
      - run: node common/scripts/install-run-rush.js ci-audit
        name: Audit Check for dependencies
      - name: Upload Audit Results
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: audit-results
          path: '**/audit/auditResults.json'

  lint:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v6
      - *node
      - *cache
      - run: node common/scripts/install-run-rush.js ci-lint
        name: Lint Check

  deprecation:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v6
      - *node
      - *cache
      - run: node common/scripts/install-run-rush.js ci-deprecation
        name: Check for Deprecated dependencies

  changes:
    runs-on: ubuntu-latest
    # Required permissions
    permissions:
      pull-requests: read
    outputs:
      # Expose matched filters as job 'packages' output variable
      changes: ${{ steps.result.outputs.changes }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: List Dockerfiles
        id: docker-files
        run: |
          shopt -s nullglob globstar extglob
          echo -e "filters<<EOF" >> $GITHUB_OUTPUT
          for file in app/**/*Dockerfile; do
            echo "$file: ${file%${file#*/*/}}package.json" >> $GITHUB_OUTPUT
          done
          echo "EOF" >> $GITHUB_OUTPUT
      - uses: dorny/paths-filter@v3
        id: filter
        if: steps.docker-files.outputs.filters != ''
        name: Filter changes
        with:
          filters: ${{ steps.docker-files.outputs.filters }}
      - name: Convert changes to JSON
        id: result
        if: steps.filter.outputs.changes != ''
        run: |
          PACKAGES="["
          for file in ${{ join(fromJson(steps.filter.outputs.changes), ' ') }}; do
            PACKAGES="$PACKAGES{\"dockerfile\":\"$file\",\"image\":\"$(basename $file | cut -d'.' -f1)\"},"
          done
          PACKAGES="${PACKAGES%,}]"
          echo "changes=$PACKAGES" >> $GITHUB_OUTPUT

  build:
    needs: changes
    if: needs.changes.outputs.changes != ''
    strategy:
      matrix:
        include: ${{ fromJson(needs.changes.outputs.changes) }}
    uses: ./.github/workflows/docker.yaml
    with:
      dockerfile: ${{ matrix.dockerfile }}
      license-scan: false
      downstream: https://api.github.com/repos/infitx-org/profile-cd/actions/workflows/docker-image.yaml/dispatches
